body {
    font-family: "Lato", sans-serif;
  }
  
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008ae6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #c5c5c5;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #005c99;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #008ae6;
  }

  .backbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #008ae6;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .backbtn:hover {
    background-color: #005c99;
  }

  .topnav {
    overflow: hidden;
    background-color: #008ae6;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
  }
  
  .topnav a:hover {
    background-color: #008ae6;
    color: white;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .grid-container {
    height: 100%;
    margin: 0;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px 0px;
  }

  .grid-container * {
    /* border: 1px solid red; */
    position: relative;
  }

  .grid-container *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .container {
    border: 1px solid green;
    column-count: 2;
    padding: 10px;
    margin: auto;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  #myTopnav {
    transition: margin-left .5s;
    padding: 16px;
  }